.custom-button {
  background-color: #9a6bff;        
  color: white;
  border: none;
  padding: 12px 24px;               
  font-size: 18px;               
  cursor: pointer;
  border-radius: 30px;              
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

/* При наведении делаю фон темнее и чуть увеличиваю */
.custom-button:hover {
  background-color: #b7db7b;
  transform: scale(1.02);           /* уыеличеное чуть-чуть  */
}

/*  ЗДЕСЬ КНОПКА МЕНЯЕТ СОСТОЯНИЕ ПОСЛЕ КЛИКА */
.custom-button.clicked {
  background-color: #0c66ab;        
  transform: scale(0.98);           
}

/* При наведении на уже нажатую кнопку — делаю фон ещё темнее */
.custom-button.clicked:hover {
  background-color: #5a4ad4;
}
